
.my-form{
    padding:20px;
    background-color: green;
    color:rebeccapurple;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin: 20px;
}

.displayed-option{
    padding:10px;
    margin:10px;
    border-radius: 10px;
    font-size:24px;
    color: #ff0033;
    box-shadow: 0 0 10px black;
}